<a href="https://colab.research.google.com/github/pradeepncs86/pythonExamplesUpgrad/blob/main/Bootcamp_Week1_Day2_with_Rajan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Warmup
---

In [ ]:
# Creating variables


planet='earth'
diameter=12734

In [ ]:
print(    'the diamater of '     ,   planet     ,    'is'     , diameter   )

the diamater of  earth is 12734

In [ ]:
# preparing the sentances by combining string and variable
# like this one 'the diamater of  earth is 12734' is technically called
# STRING FORMATTING.

In [ ]:
# it is ok to format string using 2 variables but not ok when it is LARGE SCALE!
# when there are 200 variables.

# String formatting
---

In [ ]:
# how to format the strings professionally?

In [ ]:
planet='earth'
diameter=12734

In [ ]:
# this method of using ,comma isn't recommended.
print(    'the diamater of '     ,   planet     ,    'is'     , diameter   )

the diamater of  earth is 12734

In [ ]:
# recommended method is : F String

print(f' the diameter of {planet} is {diameter}')

 the diameter of earth is 12734

In [ ]:
# there are 2 rules i am following :
# Rule1 : the sentance must be prefixed with the letter 'f'
# Rule2:  the variables must be enclosed in the curly brackets.

# Quick Activity that Helps Build Confidence
---

In [ ]:
item='clock'
day='yesterday'
impact='time consuming'

In [ ]:
# using F String to prepare the below string.
'i ate a clock yesterday it was very time consuming'

'i ate a clock yesterday it was very time consuming'

# Basic Input/Output
---

In [ ]:
# input(): this produces a textbox , it is used to take/accept input from user or customer


input('hey bro! what is your name ?')

hey bro! what is your name ?zhining

'zhining'

In [ ]:
# here is how we accept input in a variable

username = input('hey bro! choose a username ')
city = input('where are you from ? ')

print(f'hello {username}  , {city} is a nice place to live' )

hey bro! choose a username mahesh
where are you from ? jaipur
hello mahesh  , jaipur is a nice place to live

# Accepting Numeric Inputs
---

In [ ]:
# Rule : input() is designed to return STRING Value , even if you type numbers.

In [ ]:
age = input('enter your age ')

enter your age 21

In [ ]:
# use type() to check the datatype


type(age)

str

In [ ]:
# what is wrong if the datatype of age variable is STRING ?
# answer: YOu cannot do the MATH.

age+1

TypeError: can only concatenate str (not "int") to str

In [ ]:
# what is the solution ?

# convert String Value into Integer
# technically converting a datatype into another datatype is called TYPECASTING.

In [ ]:
age = int ( input( 'enter your age  '))

enter your age  12

In [ ]:
type( age )

int

In [ ]:
age+1

13

In [ ]:
# you are asked to accept weight in Kilograms and Display the Weight in Grams


kilo = float ( input(' enter weight in Kilograms '))


grams = kilo * 1000


print(f'{kilo} Kg(s)    is {grams} gms.')

 enter weight in Kilograms 7.5
7.5 Kg(s)    is 7500.0 gms.

# Quick Activity That Helps Build Confidence
---

In [ ]:
# Ask the user to Enter Distance in Miles , Write logic to convert Miles into Kilometers and display
# kilometers equivalent.

In [ ]:
Miles = float(input('Enter distance in Miles'))
kilometers = Miles*1.609
print(f'{Miles} miles is {kilometers} kilometers')

Enter distance in Miles12
12.0 miles is 19.308 kilometers

# Activity That Helps Build Confidence
---
<pre>
Ask the user to Enter car's ex-showroom price.

write logic to calculate
- GST @ 18%
- TCS @ 1%

Display GST , TCS and Exshowroom and the final Payable price for CAR.

In [ ]:

price =  float ( input('enter ExShowroom Price '))

# calculate gst @ 18%

gstTax =  price * .18

# calculate TCS @ 1%

tcsTax = price * .01

# calculate totalPayable

payable = price + gstTax + tcsTax

# ðŸ˜€ Did u know you can use ''' (triple quotes) for multiple line Messages

billSummary = f'''
------------------BILL--------------
ExShowroom Price :     {price}
GST @ 18%        :     {gstTax}
TCS @ 1%         :     {tcsTax}
Final Amount     :     {payable}
-----------------------------------
'''
# instead of printing , i decided to store the string in a variable i.e. billSummary.

print( billSummary )

enter ExShowroom Price 1450000

------------------BILL--------------
ExShowroom Price :     1450000.0
GST @ 18%        :     261000.0
TCS @ 1%         :     14500.0
Final Amount     :     1725500.0
-----------------------------------

# Post â˜• Break Topics
----
1. indentation
2. Decision Making
3. Handling Multiple Conditions

# Indentation
---

Indentation is used to represent scope or hierarchy

# Decision Making
----

In [ ]:
#case1
food='pizza'


if food == 'pizza' :
  print('hurray! i like pizza')


print('this code is unaffected by condition')

hurray! i like pizza
this code is unaffected by condition

In [ ]:
# case 2
food='naplespizza'


if food == 'pizza' :
  print('hurray! i like pizza')


print('this code is unaffected by condition')

this code is unaffected by condition

# Objective: ask the user to enter their age, write condition to determine if the user is elligible to vote or not.

In [ ]:
age = int ( input('please enter your age !'))


if age >= 18 :
  print('hurray!')
  print('you can vote')

else:
  print('oops!')
  print('you cannot vote')

please enter your age !14
oops!
you cannot vote

# Handling Multiple Conditions using Logical AND Operator
---
AND is Used to ensure both conditions must be TRUE

In [ ]:
# Objective: you are asked to accept age from user and determine if the user is teenager or not.

In [ ]:
# age >=13
# age <=19

In [ ]:
age = int (input('enter your age '))

if age >=13 and age<=19:
  print('teen')

else:
  print('no-teen')

enter your age 17
teen

In [ ]:
print ('teen' if age>=13 and age<=19 else 'no-teen')

teen

# Handling Multiple Conditions using elif
---

In [ ]:
marks = int(input('enter marks '))

if marks > 80:
  print('Grade-A')

elif marks > 60 :
  print('Grade-B')

elif marks > 40:
  print('Grade-C')

else:
  print('No-Grade')
      # this will execute when All Above Condtions are FALSE

No-Grade

# Quick Activity That Helps Build Confidence:
------------------------------------------------------
<pre>
ask the user to enter a number,

add condition to determine if the number is

+ve ,
-ve ,
or Neutral i.e. 0

In [ ]:
num = int (input('enter any number '))

if num>0:
  print('+ve')

elif num < 0 :
  print('-ve')

else:
  print('neutral')

enter any number 0
neutral